html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

// common
section {

    .section-title {
        font-family: "Releway";
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding: 60px 0 80px 0;
    }
}

header {
    width: 100%;
    height: 50px;
    font-family: "Raleway";
    position: absolute;
    top: 100%;
    background: #020d1c;

    .gnb-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
        @media screen and (max-width: 1019px) {
            padding: 0 20px;
        }

        @media screen and (max-width: 674px) {

            .menu-btn {
                display: block !important;
                left: 0 !important;
            }

            .gnb {
                display: none;
                left: 100%;
            }
        }

        h1 {
            width: 30px;
            height: 30px;

            a {
                display: block;
                width: 100%;
                height: 100%;
                text-indent: -99999px;
                background: url(/resource/img/logo/logo.png) no-repeat;
                background-size: 30px 30px;
            }
        }

        .gnb {
            display: flex;
            justify-content: space-between;
            width: 63.6%;
            position: relative;

            li {

                a {
                    color: #fff;
                }
            }
        }

        .menu-btn {
            display: none;
            width: 50px;
            height: 50px;
            position: relative;
            left: 50px;
            
            span {
                display: block;
                width: 30px;
                height: 1px;
                position: absolute;
                left: 10px;
                border-bottom: 3px solid #fff;

                &.line-1 {
                    top: 18px;
                }

                &.line-3 {
                    bottom: 15px;
                }
            }
        }

        .mobile-gnb-menu {
            display: none;
            width: 100%;
            position: absolute;
            top: 50px;
            left: 0;
            background: #2b2b43;

            li {
                padding: 12px 20px;

                &:first-child {
                    padding-top: 25px;  
                }

                &:last-child {
                    padding-bottom: 25px;
                }

                a {
                    font-size: 17px;
                    color: #fff;
                }
            }
        }
    }
}

main {

    .home-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(-45deg, #1c3a64, #000);
        
        div {
            width: 100%;
            color: #fff;
            text-align: center;

            img {
                margin-bottom: 51px;
            }

            .name-developer-text {
                font-size: 50px;
                font-family: Raleway;
                font-weight: 300;
                letter-spacing: -2.5px;
                margin-bottom: 18px;
                
                mark {
                    font-family: Raleway;

                    &:first-child {
                        font-weight: 500;
                        color: #00cbf7;
                    }
                    
                    &:last-child {
                        font-weight: 100;
                        color: #fff;
                    }
                }
            }

            .brief-introduction-text {
                line-height: 28px;
                font-size: 17px;
                font-weight: 100;

                em {
                    font-size: 19px;
                    font-weight: 400;
                }
            }
        }

        .view-introduce {
            display: inline-block;
            font-family: "Raleway";
            font-size: 16px;
            color: #fff;
            padding: 16.5px 26.5px;
            margin-top: 30px;
            border: 1px solid #fff;
        }

        .next-btn-wrap {
            position: absolute;
            bottom: 20px;

            .next-btn {
                display: inline-block;
                width: 39px;
                height: 24px;
                text-indent: -9999px;
                background: url(/resource/img/button/next-btn.png) no-repeat;
            }
        }
    }

    .about-area {
        padding: 50px 20px;

        .introduction-wrap {
            display: flex;

            .Information-text-wrap {
                padding-left: 40px;

                .Information-title {
                    font-family: "Raleway";
                    font-size: 40px;
                    margin: 10px 0 20px;
                }

                .Information-text {
                    line-height: 23px;
                    font-size: 15px;
                    margin-bottom: 40px;

                    mark {
                        font-size: 26px;
                    }

                    em {
                        color: #01b5ca;
                    }
                }

                .my-Information-wrap {
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: .7px;
                }
            }
        }

        .skill-gauge-wrap {
            margin-top: 5%;
            

            .skill-wrap {
                display: flex;
                color: #fff;
                margin-bottom: 7px;
                border-radius: 0 5px 5px 0;
                background: #e2eaee;

                .skill-name {
                    width: 110px;
                    font-size: 14px;
                    padding: 6px 0 6px 10px;
                    border-radius: 5px 0 0 5px;
                    background: linear-gradient(to right, #006b9c, #00a0e9);
                }
            }

            
        }
    }    

    .portfolio-area {
        padding-bottom: 50px;
        background: #f5f5f5;

        .portfolio-wrap {
            display: flex;
            text-align: center;

            .portfolio-box {
                width: 100%;

                .portfolio-title {
                    display: inline-block;
                    font-family: "Raleway";
                    font-size: 17px;
                    font-weight: 500;
                    padding: 6px;
                    margin-bottom: 35px;
                    border-bottom: 2px solid #000;

                    b {
                        font-weight: 100;
                    }
                }

                .portfolio-item {
                    width: 269px;
                    height: 478px;
                    margin: 0 auto;


                    .title-wrap {
                        position: relative;

                        .portfolio-top-text {
                            font-size: 22px;
                        }

                        .portfolio-bottom-text {
                            font-size: 15px;
                            color: #1fcbe5;
                        }
                    }
                    
                }
            }
        }
    }

}
